
body{
    background-color: #0c0f13;

}

h1{
    color: #f1f4f8;
    text-align: center;
    background-color: #ffae00;
    width: 200px;
    margin: 2px 530px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 15px rgba(255,174,0,0.25);
}
.lik{
    color: #67E8F9;
    font-size: 29px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    float: right;
    margin: 2px 30px;
}
.box{
    display: flex;
}
.gg{
    display: flex;
}

.asd{
    width: 400px;
    height: 250px;
    margin: 2px 14px;
    transition: 0.4s;
}
.asd:hover{
    transform: scale(1.07);
}
footer{
    color: aquamarine;
}

.a{
    text-decoration: none;
    color: #3498db;
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    padding: 3px 5px;
    margin: 2px 6px;
    transition: 0.3s;
}

.a:hover{
    color: #ffae00;
    background-color:blue ;
    text-decoration: underline;
    transform: translateY(-2px);
}
strong{
    color: #f1f4f8;
}
.b{
    background-color: aqua;
    margin: 2px 600px;
    width: 90px;
    height: 27px;
    transition: transform 0.3s ease-in-out;
}
.b:hover{
    background-color: skyblue;
    transform: scale(1.07);
}
.af{
    width: 420px;
    height: 300px;
    padding: 2px 2px;
    margin: 1px 7px;
    transition: transform 0.4s ease-in-out;
}
.af:hover{
    transform: scale(1.05);
    border: 2px solid grey;
}

strong{
    margin: 55px 20px 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #eee;
    letter-spacing: 1px;
}
 span{
    color: orange;
}
.hh{
    width: 900px;
    border: 2px solid black;
   margin: 2px 4px;
}
.la{
    font-size: x-large;
    color: #cccccc;
    margin: 3px 10px;
    letter-spacing: 1px;
}
.vv{
   width: 45%;
   padding: 30px;
   line-height: 1.7;
   font-size: 18px;
   color: #ddd;
}
.vv h2{
    color:#00e5ff;
    font-size: 28px;
    margin-bottom: 25px;
}
.vv span{
    color: orange;
    font-weight: bold;
}
.vv strong{
    color: white;
}
.vv p{
    margin-bottom: 20px;
    color: #cccccc;
}

.abx{
    color:darkcyan ;
    text-align: center;
}
.oo{
    width: 60px;
    height: 50px;
    margin: 2px 23px;
    transition: 0.4s;
}
.oo:hover{
     transform: scale(1.1);
}
.rr{
    display: flex;
}